.idea/
.vscode/

# Server
server/vendor/
server/**/*.log
server/**/*.sqlite
server/.idea/
server/bin/
server/tmp/
server/node_modules/
server/.sass-cache/
server/*-packr.go
server/public/assets/
server/kick
server/.vscode/
server/.grifter/
server/.env
