<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Kick</title>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />

    <meta name="description" content="" />
    <meta name="author" content="Petr Nikolas" />
    <meta http-equiv="Content-language" content="en" />
    <meta name="reply-to" content="hello@petrnikolas.com" />
    <meta name="url" content="" />
    <meta name="identifier-URL" content="" />
    <link rel="manifest" href="<%= assetPath("manifest.json") %>">

    <!-- OG Meta tags -->
    <meta property="og:title" content="Kick" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />

    <!-- Twitter Meta tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <!-- MS Application -->
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="" />

    <%= stylesheetTag("application.css") %>
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <div class="container">
      <%= partial("flash.html") %>
      <%= partial("header.html") %>

      <main>
        <%= yield %>
      </main>
    </div>

    <%= javascriptTag("application.js") %>
    <script>if (window.location.host !== 'localhost:3000') "serviceWorker"in navigator&&navigator.serviceWorker.register("/assets/sw.js").then(function(){console.log("Service Worker Registered")});</script>
  </body>
</html>
